.dashboard {
    margin: 1rem auto;
    > * {
        margin: .5rem;
    }
    max-width: 900px;
    
}

.header-meta {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    @include bp($kid-bear) {
        display: block;
        width: 30%;
    }
    

}

.team-data {
    > * {
        margin-bottom: 1rem;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}



.team-name, .pot, .week {
    @include bp($kid-bear) {
        font-size: 1.2rem;
    }
}



.all-goals {
    background-color: white;
    padding: 1rem;
    @include bp($kid-bear) {
        width: 70%;
    }
    h3 {
        font-family: $body-font; 
        margin: 0;
    }
    h4 {
        margin-bottom: 0;
    }
}

.label {
    color: $gray;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}