.grid:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    margin: .5rem;
    width: calc(100% - 1rem);
}

@include bp($kid-bear) {
    [class*="col-"] {
        float: left;
    }
    .col-70 {
        width: calc(70% - 1rem);
    }

    .col-30 {
        width: calc(30% - 1rem);
    } 
}