.header-bar {
    background-color: $dark-gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    .button {
        background-color: $faktor;
        border-color: $faktor;
        color: $dark-gray;
    }
}


.button, .logo, .header-admin {
    display: inline-block;
}


.button-menu {
    display: inline-block;
    @include bp($kid-bear) {
        display: none;
    }
}

.logo {
    margin: 0;
    padding: .25rem;
}
