.lg-only {
    display: none;
    @include bp($kid-bear) {
        display: block;
    }
}

.flex {
    @include bp($kid-bear) {
        display: flex;
        align-items: stretch;
    }
}

.order-1 {
    @include bp($kid-bear) {
        order: 10;
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

hr {
    background-color: $gray;
    border: none;
    height: 1px;
    margin: 1rem 0;
}

.clearfix:after  {
    content: "";
    clear: both;
    display: table;
}