.main-wrapper {
    //padding: 1rem;
}

.header-main {
    h2 {
        background-color: $faktor;
        font-size: 1.7rem;
        letter-spacing: 0;
        margin: 0;
        padding: .25em.5em;
        text-align: center;
    }
}

.landing-page {
    background-color: $faktor;
    padding: 2rem;
    margin: 2rem auto;
    width: 50%;
    h2 {
        font-size: 3rem;
        margin: 0;
    }
}


