.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-name {
    margin: .5em;
}

.results-toggle {
    .button {
        margin: .25rem;
        width: calc(50% - .5em;
    }
}