.menu-wrapper {
    display: block;
    // display: none;
    // @include bp($kid-bear) {
    //     display: block;
    // }
    // &.active {
    //     display: block;
    // }
}

.main-menu {
    ul {
        background-color: $green;
        align-items: center;
        margin: 0;
        padding: 0;
        @include bp($kid-bear) {
            display: flex;
        }
    }
    li {
        display: inline-block;
        list-style: none;
        text-align: center;
        width: 33.33%;
        @include bp($kid-bear) {
            width: 25%;
        }
    }
    a {
        color: white;
        display: inline-block;
        font-family: $heading-font;
        font-size: 1.5rem;
        line-height: 1;
        padding: .5em;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;
        &:hover {
            background-color: darken($green, 10%);
        }
        @include bp($kid-bear) {
            font-size: 1.7rem;
            padding: .6em .5em;
        }
    }
    .button {
        border-color: white;
        color: white;
        font-family: $heading-font;
        font-size: 1.7rem;
        padding: .3em;
        text-transform: capitalize;
        width: auto;
    }

}