.goal-progress {
  margin-bottom: 1em;
}
.goal-name {
    font-family: $body-font;
    font-size: 1.2rem;
    margin: 0;
}

.goal-info {
  color: $gray;
  font-size: .9rem;
}

.progress-container {
    background-color: $dark-gray;
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1;
    position: relative;
    width: 100%;
    &:before {
        content: attr(data-percent);
          padding: 0.25em;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 2em;
          font-family: $heading-font;
          color: white;
    }
}

.progress-bar {
    background-color: $green;
    height: 100%;
    width: 0%;

}

.progress-week {
    background-color: $rosy;
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
}

.progress-message {
    margin-top: 0;
     span {
        background-color: $bingo;
        color: $dark-gray;
        display: block;
        font-size: 1.3em;
        margin-bottom: 1rem;
        padding: .5rem;
        text-align: center;
        width: 100%;
    }
}

