// $bingo: #CCF390;
// $bread: #E0E05A;
// $faktor: #F7C41F;
// $faktor30: #FC930A;
// $rosy: #FF003D;



$orange: #FB6900;
$crimson: #F63700;
$dark-blue: #004853;
$med-blue: #007E80;
$light-blue: #00B9BD;

$gray: #C7CDD4;
$dark-gray: #333;

$heading-font: "clearSansMedium", Helvetica, Arial, sans-serif;
$body-font: "clearSansLight", Helvetica, Arial, sans-serif;

$kid-bear: 30em;

@mixin bp($width) {
    @media all and (min-width: $width) {
        @content;
    }
}