$bingo: #CCF390;
$green: #1EB848;
$faktor: #F7C41F;
$faktor30: #FC930A;
$rosy: #FF003D;




$light-gray: #E3E8EE;
$gray: #949EA9;
$dark-gray: #2E3234;

$heading-font: "League Gothic", Helvetica, Arial, sans-serif;
$body-font: "clearSans", Helvetica, Arial, sans-serif;

$kid-bear: 30em;
$mama-bear: 45em;

@mixin bp($width) {
    @media all and (min-width: $width) {
        @content;
    }
}